<!-- start custom footer snippets -->

<!-- Clipboard.js 라이브러리 추가 -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 모든 코드 블록을 찾아 복사 버튼 추가
        document.querySelectorAll('div.highlighter-rouge').forEach(function(codeBlock) {
            // 복사 버튼 생성
            var button = document.createElement('button');
            button.className = 'copy-button';
            button.type = 'button';
            button.innerText = 'Copy';

            // 버튼 클릭 시 클립보드에 코드 복사
            button.addEventListener('click', function() {
                var code = codeBlock.querySelector('code').innerText; // 코드 블록 내의 코드만 가져오기
                navigator.clipboard.writeText(code).then(function() {
                    button.innerText = 'Copied!';
                    setTimeout(function() {
                        button.innerText = 'Copy';
                    }, 2000); // 2초 후 버튼 텍스트를 다시 'Copy'로 변경
                }, function(err) {
                    console.error('Could not copy text: ', err);
                });
            });

            // 코드 블록의 부모 요소에 버튼 추가
            codeBlock.style.position = 'relative'; // 코드 블록에 position: relative 적용
            codeBlock.style.marginBottom = '1em'; // 하단 마진 추가
            codeBlock.style.overflowX = 'auto'; // 가로 스크롤바 추가

            // 버튼 스타일링
            button.style.position = 'absolute';
            button.style.top = '10px'; // 상단 여백 조정
            button.style.right = '10px'; // 우측 여백 조정
            button.style.padding = '5px 10px';
            button.style.border = 'none';
            button.style.background = 'white'; // 기본 배경색 설정
            button.style.color = '#007bff'; // 기본 텍스트 색상 설정
            button.style.borderRadius = '5px';
            button.style.cursor = 'pointer';
            button.style.fontSize = '0.875em';
            button.style.transition = 'background-color 0.3s, color 0.3s'; // 호버 시 애니메이션 효과 추가

            // 버튼 호버 시 스타일 변경
            button.addEventListener('mouseenter', function() {
                button.style.color = 'white';
                button.style.background = '#007bff';
            });

            button.addEventListener('mouseleave', function() {
                button.style.color = '#007bff';
                button.style.background = 'white';
            });

            codeBlock.appendChild(button); // 버튼을 코드 블록에 추가
        });
    });
</script>
<!-- Clipboard.js 라이브러리 끝 -->

<!-- end custom footer snippets -->
